const API_KEY = 'bf9fae17-aa97-4cd6-9717-0ce2e9000dbb'
API_KEY = 'new-value'
const CONFIG = {
    API_KEY : 'bf9fae17-aa97-4cd6-9717-0ce2e9000dbb'
}
CONFIG.API_KEY = 'newValue'
CONFIG = {
    API_KEY: 'newValue'
}