const Input = () => {
    const handleInput(event) {
        const value = event.target.value
        console.log(`The user typed ${value}`)
    }
    return <input type="text" onInput={handleInput} />
}
