#root {
  padding: 2rem;
}

button {
  background-color: #e6e6e6;
  border: 1px solid #999;
  padding: 0.535rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

button:hover {
  background-color: #757575;
  color: #f4f4f4;
}

input {
  border: 1px solid #999;
  border-right: 0;
  padding: 0.54rem;
  font-size: 1rem;
}
