getData()
  .then(function successA() { }, function getDataError() { }) 
  .then(function successB() { } , function successAError() { })
  .then(function successC() { } , function successBError() { })