function printFullName(obj: { firstName: string; lastName: string }) {
  console.log(obj.firstName + " " + obj.lastName);
}

let evan = {
  firstName: "Evan",
  lastName: "Schultz",
  age: 30
};

printFullName(evan)