interface Person {
  firstName: string;
  lastName: string;
}

function printFullName(obj: Person) {
  console.log(obj.firstName + " " + obj.lastName);
}

let evan = {
  firstName: "Evan",
  lastName: "Schultz",
  age: 30
};

printFullName(evan)