.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

li {
  text-align: left;
  padding: 0.25rem 0;
}

a {
  transition: background-color 0.3s ease-in;
}

a:hover {
  background-color: #f4f4f4;
}

button {
  border: 1px solid #666;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
  background-color: #757575;
  color: #f4f4f4;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
