#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-product-card {
  width: 320px;
  padding: 1rem;
  display: block;
  border: 1px solid #e6e6e6;
  transition: box-shadow 0.3s ease-in-out;
}

.app-product-card:hover {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.app-media {
  margin-bottom: 1rem;
  display: block;
  padding-bottom: 133.33%;
  height: 0;
  position: relative;
  color: #000;
}

.app-media-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.app-block-link {
  color: #000;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
}

.app-block-link:link {
  transition: color 0.15s ease-in;
}

.app-heading {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  line-height: 1.25;
  box-sizing: border-box;
}

.app-block-link:visited {
  transition: color 0.15s ease-in;
}

.app-text {
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  line-height: 1.5;
  font-weight: 300;
}

.app-button {
  border-color: currentcolor;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #fff;
  color: #000;
  width: 100%;
  text-decoration: none;
  transition: color 0.15s ease-in;
  font-weight: bold;
  display: flex;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.app-button:hover {
  background-color: #f4f4f4;
}

.app-button-text {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: bold;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #000;
}

.app-button-price {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-width: 0.125rem;
  border-left-style: solid;
  border-left-width: 1px;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}
